<div class="overlay" id="set-specific-mac-dialog">
  <div>
    <form>
      <div>
        <label for="proposed-mac">MAC address to set</label>
        <input type="text" id="proposed-mac" />
      </div>

      <div class="buttons">
        <a href="#" id="change-to-{{device}}">Change MAC</a>
        <a href="#" onclick="toggleVisibilitySetSpecificMacDialog()">Cancel</a>
      </div>
    </form>

  </div>
</div> <!-- .dialog -->
